
.jumbotron{
    /* position: relative;
    background: #000 url("jumbotron-bg.jpg") center center;
    width: 100%;
    height: 500px;
    margin-top: -3px;
    background-size: cover;
    overflow: hidden; */

    margin-bottom: 0px;
    background-image: url(jumbotron-bg.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: black 0.3em 0.3em 0.3em;
    border-radius: 0px !important;
}

.bg-cover {
    background-size: cover;
    color: #000;
    background-position: 50% 25%;
    position: relative;
    z-index: -2;
}

.overlay {
    text-shadow: 2px 2px #000;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
}



.judul{
    margin: center;
}



footer{
    height: 40px;
}

.footer{
    margin: auto 10px;
}